




















































* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 50fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo h2 {
    color: #967bb6;
}
.profile img
{
    margin:15px auto;
    display:block;
    width:120px;
    height:120px;
    border-radius: 70px;
    /* border:8px solid #967bb6; */
}
.profile h1{
    font-size:34px;
    color:#fff;
    margin:0;
    padding:0;
    font-weight: 600;
    -moz-text-align-last:center;
    text-align-last:center;
    font-family:"Poppins",sans-serif;
}
.search {
    position: relative;
    width: 60%;
    justify-self: center;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: left;
}


/* sidebar */

.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #967bb6;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #967bb6;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}


/* main */

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
}


/* MY profile*/



.container {
    width: 100%;
    height: auto;
    position: relative;
}

.content {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
}

.flex-column{
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.line-height{
    line-height: 20px;
}

.space-between {
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.green{
    color: green;
}

.img-box{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    position: relative;
    overflow: hidden;
}

img{
    border: none;
    outline: none;
    vertical-align: middle;
}

.img-fluid{
    max-width: 100%;
}

.info-banner{
   width: calc(100% - 250px);
}

.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 30px;
}

.profile-banner{
    width: 250px;
    max-width: 100%;
}

.no-list-style{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    list-style: none;
}

.icon{
    width: 15px;
    font-size: 14px;
    margin-right: 20px;
}

.list-item{
    width: 100%;
    padding: 5px 0px;
    font-size: 12px;
}

.list-item p{
    width: 100%;
    word-wrap: break-word;  
}

.card-calender
{
    width: 250px;
    padding-left: 10px;
}

.p20{
    padding: 30px 0px;
}

.text-content{
    width: 100%;
    position: relative;
    padding: 0px 15px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-card, .skills-card, .project-card
{
    margin-top: 10px;
}
.project-image{
    width: 22px;
    height: 22px;
    font-size: 14px;
    margin-right: 10px
}

.align-items-center{
    align-items: center;
}

.card h3{
    margin-right: 10px;
    line-height: 20px;
}

.card p{
    line-height: 20px;
}

.card-title{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0px 10px 25px 0px;
}

.collapsable{
    height: 20px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.collapsable h3{
    cursor: pointer;
}

.collapsed h3{
    cursor: pointer
}

.collapsed{
    overflow: visible;
    height: auto;
}

.card .content{
    padding: 0px 20px;
}



/* Create Profile */
.userInfo{
    font-size: 30px;
}
.userInfo span{
    display: block;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.border-box{
    max-width: 80vw;
    padding: 10px 25px;
    margin: 40px 80px;
    min-height: 80vh;
    border: 1.5px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.border-box .content{
    width: auto;
}

.border-box .content h2{
    text-align: center;
    margin-bottom: 5px;
    color: #cccccc;
}

.justify-content-center{
    justify-content: center;
}

.btn{
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #967bb6;
}

.btn-circular{
    border-radius: 50%;
}



